.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 216px;
}

.sign-in-container:nth-child(1){
    text-align: center;
    font-family: Lora;
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;

}

input{
    width: 359px;
    height: 60px;
    border: none;
    background-color: #F6F6F7;
}

.sign{
    display: flex;
    flex-direction: column;
    width: 519px;
    height: fit-content;
    border-radius: 20px;
    gap: 15px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.logo-div {
    width: 60px;
    height: 60px;
    background-color: #395185;
    border-radius: 8px 0 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-div-fb{
    background-color: #395185;
}

.google{
    background-color: #E93E32;
}

.mail{
    background-color: #F6F6F7;
}

.lock{
    background-color: #F6F6F7;
}

.checkbox{
    display: flex;
    width: 397px;
    justify-content:space-evenly;
    height: fit-content;
}

.checkbox input[type="checkbox"]{
    width: 19px;
    height: 19px;
    border: 1px solid #939393;
}

.checkbox div:nth-child(1){
    width: 130px;
    display: flex;
    align-items: center;
}

div.checkbox p{
    color: #000;
    font-size: 16px;
}

.daxil-ol{
    width: 198px;
    height: 50px;
    border-radius: 70px;
    background-color: #008D96;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    border: none;
    margin-top: 51px;
}

.last-div-form{
    width: 397px;
    display: flex;
    margin-top: 30px;
}
.last-div-form p{
    color: #008D96;
}

.form:nth-child(2){
    width: 519px;
    height: fit-content;
    display: flex;
    padding: 35px 0 35px 0;
    background-color: #FFFFFF;
    box-shadow: 0px 30px 60px 0px #015E641A;
    border-radius: 20px;
}

.left-img, .right-img{
    position: absolute;
}

.left-img{
    bottom: -0;
    left: -170px;
}

.right-img{
    top: 84px;
    right: -250px;
}


.star-shape{
    position: absolute;
    top: 77px;
    left: -170px;
    z-index: 0;
}

.circle-shape{
    position: absolute;
    bottom: 0;
    left:550px;
}

.daxilol-div{
    margin-top: 110px;
    margin-bottom: 55px;
}